{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Upload Your Image</title>
        <link href="{% static 'css\base.css' %}" rel='stylesheet'>
    </head>
<body>
    <div id="header">
        <span class='logo'>Seller Details</span>
    </div>
    {% for profile in profile_img %}
            <div>
                <img src="{{ profile.image.url }}"  height="200" width="200" />
                <div>
                    <h1>{{ profile.name }}</h1>
                    <h2>
                        {{ profile.details }}
                    </h2>
                    <h3>
                        {{profile.Mobileno}}
                    </h3>
                    <h4>
                        {{profile.price}}
                    </h4>
                </div>
                
            </div>
    {% endfor %}
  
</body>
</html>